body {
    background-color: #b6b6b6;
}

.loader{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.loader__text{
    font-size: 32px;
    font-weight: 700;
    color: #ffffff;
}

main{
    max-width: 1200px;
    margin: 0 auto;
}

.title{
    font-size: 50px;
    font-weight: 700;
    margin: 50px 30px;
}

.movies{
    display: flex;
    flex-wrap: wrap;
}